NODE_ENV= localhost
TAG= development

PROJECT_NAME= Assignment

DEBUG= true

HOMEPATH= http://localhost:5001

PORT= 5001

DB_NAME= assignment
DB_URL= mongodb://localhost:27017
DB_USER=
DB_PASS=

BASIC_AUTH_USERNAME= assignment
BASIC_AUTH_PASS= assignment

JWT_SECRET= dadhasfdsd7r6dwdtwdvdtwdjdsadutwe78d
JWT_EXPIRY= 7d
